<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glide.Xamarin" version="3.8.0" targetFramework="monoandroid71" />
  <package id="Naxam.Google.Gson" version="2.6.2" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.ConvertGson.Droid" version="2.1.0.2" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.Droid" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Naxam.SquareUp.Retrofit2.ConverterScalars" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Square.OkHttp3" version="3.8.0" targetFramework="monoandroid71" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.3" targetFramework="monoandroid71" />
</packages>